<% provide(:title, 'Question for Report') %>
<h2> All Questions</h2>
<div class='center'>
	<%=render 'shared/menu' %>
		
		<ul class="nav nav-pills">
			    <li class="active">
			    <a href="#">Group1</a>
			    </li>
			    <li><a href="#">Group2</a></li>
			    <li><a href="#">Group3</a></li>
		</ul>
		<div class="span8 question">	
			<ol class="catalogs">
        		<%= render @catalogs %>
      		</ol>
				<%= button_to "Create new question",new_catalog_path,
				:method => :get, class: 'btn btn-medium btn-primary'%>
		</div>
	</div>
