<table class='table table-striped' >
	<thead>
	<tr>
		<th style="width:100px">Date</th>
		<th>Question </th>
		<th>Answer </th>
	</tr>
	</thead>
	<tbody>
		<% @answers.each do |answer|%>
			<%if(answer.updated_at.strftime("%d/%m/%y")== "15/08/13")%>
			<tr>
				<td style="width:100px"><%= answer.updated_at.strftime("%d/%m/%y") %></td>
				<td><%= Catalog.find_by(id: answer.catalog_id).content %></td>
				<td><%= answer.content %></td>	
			</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
