<ul class="nav nav-pills nav-stacked">
  	<li class ='nav-header'>Admin Panel</li>
  	<li class="divider" style="border-top:1px solid #E5E4E3"></li>
  	<li><%= link_to "View list user", users_path %></li>
 	<li><a>Create report form</a></li>
  	<li><a>Create group</a></li>
</ul>

