<div class = 'menu'>
<ul class="nav nav-pills nav-stacked ">
	<li class ='nav-header'>User Panel</li>
	<li class="divider"></li>
  	<li><%= link_to "Write daily report",new_answer_path %></li>
  	<li><%= link_to "View report", report_user_path %></li>
</ul>
</div>