<% provide(:title,'Write daily report') %>
<h2>Write Daily Report for &nbsp <strong><%= Time.now.strftime("%m/%d/%Y")%></strong></h2>
<div class='center'>
	<%= render'shared/menu' %>
	<div class='span7 answer'>
		
		<% @catalogs.each do |catalog| %>
			<%= catalog.content %>
			<%= render 'answer' , catalog: catalog %>
		<% end %> 

	</div>
</div>