<% provide(:title,'Write daily report') %>
<h2>Write Daily Report for &nbsp <strong><%= Time.now.strftime("%m/%d/%Y")%></strong></h2>
<div class='center'>
	<%= render'shared/menu' %>
	<div class='span7 answer'>
        <%= form_for (@answer) do |answer_form|%>
        	<%(@answer.catalog_id).each do |catalog|%>
        		<%answer_form.fields_for |catalog|, index: catalog
        		do |answer_form| %>
        			<%=answer_form.text_area :content%>
        		<% end%>
        	<% end%>
        <% end%>		
	</div>
</div>