@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
  min-height: 130px;
}

.center {
  padding-bottom: 50px;
  height: 400px;
  display: table;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #509AE2;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    margin-right: 70px;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */
.divider {
  border-top:1.5px solid #CCD2D4;
  list-style:none;
}
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* homepage */

.hero-unit {
  text-align: center;
  display: block;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
/* Users index */
.pagination {
  
}
.users {
  list-style: none;
  display: inline-block;
}
.table-striped  {
 white-space: nowrap;
 width:900px;
 margin-bottom: 40px;
 table-layout: fixed;

}
.table-striped td{
overflow: hidden;
padding-right: 50px;
padding-top: 4px;
padding-bottom: 4px;
}



/* Homepage */
.hero-unit {
  margin-top: 20px;
  padding: 80px;
}


/* Admin & User menu */
.menu {
  display: inline-block;
  float: left;
  margin-right: 80px;
 
}
.nav-stacked {
   background-color: #EEEEEE;
   min-height: 200px;
   border-radius: 2px;
   moz-border-radius:2px;
   border: 1px solid #E5E3E3;
   width: 200px;
}
.nav-stacked li a{
  padding: 8px 20px 8px 6px;

  text-align: left;
}
.nav-header{
  padding: 8px 10px; 
  text-align: left;
}
.nav-stacked {
  margin-left: 120px;
  width: 140px;
}
/* User profile */
.profile {
  margin: 30px auto;
 td {
  width: 240px;
  text-align: left;
  padding-left: 60px;
}
caption {
  font-size: 1.3em;
  font-weight: bolder;
  margin-bottom: 10px;
}
}

/* Create catalog form */
.nav-pills {
  display: table;
  max-height: 30px;
  overflow: none;
  display:table;

}

.span8{
   margin-left: -10px;
}
.catalogs {
  margin-top: 20px;
}
.catalogs li:last-child {
  margin-bottom: 30px;
}
#catalog_required {
  min-height: 40px;
}
#user_manager_group
{
min-height:40px;
}
.option_group{
  min-height:40px;
}
.content {

  text-align: left;
}
#user_group_id,#catalog_group_id
{
    min-height:40px;

}
#dp2{
  max-width: 100px
}
/* Daily report form */
