<footer class="footer">
  <small>
    <a href="http://framgia.com/">© Framgia, Inc. All Rights Reserved.</a>
  </small>
  <nav>
    <ul class>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://vnexpress.net">News</a></li>
    </ul>
  </nav>
</footer>